@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .BlockMenuMobile {
        @apply text-[22px] px-[20px] w-[100%] py-[14px] font-semibold text-white  border-b-[1px] flex  flex-col
        border-gray-500 font-Exo duration-200 ease-in;
    }
}

@layer components {
    .BlockStylePC {
        @apply flex justify-center items-center bg-[#005648] border-[1px] h-[60px]
                 border-b-white;
    }
}
@layer components {
    .ItemMenuPC {
        @apply text-[16px] px-[55px] py-[14px] font-semibold text-white items-center
        cursor-pointer  flex  hover:bg-[#ffffffe1]  hover:text-[#306860]
        border-gray-500 font-Exo duration-200 ease-in-out active:bg-bgButton uppercase;
    }
}
@layer components {
    .StyleMenu {
        @apply transition-transform transition-all duration-500  bg-premierColor rounded-br-[10px]  w-[90%];
    }
}

@layer components {
    .StyleButtonNav {
        @apply select-none text-[0.9rem]   shadow-Shadow  uppercase font-Exo font-bold text-[20px] flex items-center justify-center   rounded-[10px] border-[1px] border-solid border-white  bg-[#118273] p-[10px] text-white min-w-[220px] min-h-[50px];
    }
}
@layer components {
    .customAnimation {
        @apply duration-200 ease-in;
    }
}
@layer components {
    .StyleFlexCol {
        @apply flex  items-center flex-col;
    }
}
@layer component {
    .StyleLinkFooter {
        @apply text-white list-disc ml-3 py-1 capitalize;
    }
}
@layer components {
    .StyleTitle {
        @apply text-[1.25rem] font-semibold text-white;
    }
}

@layer components {
    .TitleCustomMobile {
        @apply pt-[0.6rem] font-Exo font-bold text-[18px] text-white StyleTitle text-center;
    }
}
@layer components {
    .DescCustom {
        @apply text-[1.1rem] py-[14px] font-semibold text-white 
         text-center;
    }
}
@layer components {
    .ImgCusTomMobile {
        @apply w-[100%] h-[35vh]  
         mt-[1.3rem]   text-center object-cover;
    }
}
@layer components {
    .DescCustomPC {
        @apply text-[1rem] font-medium font-Exo;
    }
}
@layer components {
    .h2CustomMobile {
        @apply text-[1.5rem] text-center font-bold font-Exo text-white;
    }
}
@layer components {
    .h2CustomPC {
        @apply text-[3rem] font-bold font-Exo text-white;
    }
}
@layer components {
    .h3CustomPC {
        @apply text-[1.6rem] font-bold font-Exo text-white;
    }
}
@layer utilities {
    .matrix-3D {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
}
@layer components {
    .Hidden-scroll-bar::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
}
@layer components {
    .StickyNav {
        @apply fixed dt:top-0 left-0   dt:w-[100%]   scroll-smooth z-[10000]  bg-[#fff] ease-in-out duration-700;
    }
}
@layer components {
    .NavBar-SubItem--close {
        @apply translate-x-[100%];
    }
}

@layer components {
    .NavBar_SubItem--active {
        @apply translate-x-0;
    }
}
@layer components {
    .slide {
        @apply absolute top-[10%] left-[20%] w-[60%] h-[60%] translate-x-[-100%] opacity-0 transition-all self-center duration-200 ease-linear;
    }
}
@layer components {
    .current {
        @apply translate-x-[0] opacity-[1];
    }
}
@layer components {
    .TabbelCustomPC {
        @apply border border-gray-300 text-center py-2;
    }
    .TabbelHover {
        @apply hover:bg-premierColor hover:text-white transition-all duration-200;
    }
}
